EXPO_PUBLIC_CLERK_PUBLISHABLE_KEY=INSERT_YOUR_CLERK_PUBLISHABLE_KEY_HERE
PLAN_ID=INSERT_YOUR_AWS_RELATED_PLAN_ID_HERE
KEY_ID=INSERT_YOUR_AWS_RELATED_KEY_ID_HERE
API_KEY=INSERT_YOUR_AWS_RELATED_KEY_HERE